@model LibraryMVC.Models.LivreViewModel

@{
    ViewData["Title"] = "Create";
    var domaines = ViewData["Domaines"] as SelectList;
    var auteurs = ViewData["Auteurs"] as SelectList;
}

<h1>Create</h1>

<h4>Livre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDePage" class="control-label"></label>
                <input asp-for="NombreDePage" class="form-control" />
                <span asp-validation-for="NombreDePage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomaineId" class="control-label"></label>
                <select asp-for="DomaineId"
                        asp-items="domaines"
                        class="form-control"></select>
                <span asp-validation-for="DomaineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuteurId" class="control-label"></label>
                <select asp-for="AuteurId"
                        asp-items="auteurs"
                        class="form-control"></select>
                <span asp-validation-for="AuteurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
